/* Sidebar elegante */

.custom-sidebar {
  gap: 0.6rem;
  width: 260px;
}

.sidebar-btn {
  background: #efefef;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  text-align: left;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
}

.sidebar-btn:hover {
  background: #dedede;
  transform: translateX(4px);
}

